accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
sentencepiece
gradio
wandb
shortuuid
scipy
ray
fairscale>=0.4.13
deepspeed==0.10.3